#mat-card-wrapper-2 {
  height: 45%;
  margin: 16px 8px;
  text-align: center;

  button {
    margin-top: 16px;
  }
  p {
    margin-top: 32px;
    &.total-count {
      text-align: right;
    }
  }
  .errors {
    margin-top: 32px;
    p {
      margin: 0 16px;
      &.errors-message {
        margin-bottom: 16px;
      }
    }
  }
}

.tab-group {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.tab-group.tab-group-1 {
  justify-content: end;
  align-items: center;
  height: 85%;
  gap: 32px;
}

.mat-tab-group {
  margin-bottom: 48px;
}
