.tab-group {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.tab-group.tab-group-1 {
  justify-content: space-between;
  align-items: center;
  height: 85%;
  gap: 32px;
}

.mat-tab-group {
  margin-bottom: 48px;
}
