<div id="wrapper">
    @if (!gettingAllViolations) {
    <mat-card appearance="outlined" id="mat-card-wrapper">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight="true" id="tab-group">

            <mat-tab label="Violations">
                <div class="tab-group">
                    <button mat-raised-button (click)="getAllViolations()">Get All Violations</button>
                </div>
            </mat-tab>

            <mat-tab label="Test">
                <div class="tab-group">
                    <button mat-stroked-button (click)="getEvents()">GET EVENTS</button>
                    <button mat-button (click)="popUp()">popUp</button>
                    <button mat-button (click)="openDialog()">Open Violations</button>
                </div>
            </mat-tab>

            <mat-tab label="About">
                <div class="tab-group">
                    <h2>Driver Monitoring</h2>
                    <h3>webApp chrome extension v0.1</h3>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>





    } @else {
    <mat-card class="example-card">
        <mat-card-content>
            <h2 class="example-h2">Getting all violations...</h2>
            <p>{{progressBar.currentCompany}}</p>
            <section class="example-section">
                <mat-progress-bar class="example-margin" [mode]="progressBar.mode" [value]="progressBar.value"
                    [bufferValue]="progressBar.bufferValue">
                </mat-progress-bar>
            </section>
            <button mat-button (click)="stopGetAllViolations()">Stop</button>
            <p style="text-align: right;">Total count: {{progressBar.totalCount}}</p>
        </mat-card-content>
    </mat-card>
    }
</div>