.mat-tab-group {
  margin-bottom: 48px;
}
:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
}

#wrapper {
  padding: 16px;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box; /*new*/
}
#tab-group {
  height: 100%;
}
#tab-group mat-tab-body {
  flex-grow: 1;
}

#mat-card-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  background-color: rgb(39 39 42);
}

.tab-group {
  margin-top: 32px;
}

span {
  margin-left: 8px;
  font-size: 12px;
}

.tab-group {
  display: flex;
  flex-direction: column;
}

.tab-group.tab-group-3 {
  align-items: end;
  justify-content: end;
  height: 90%;
  padding-bottom: 128px;
  padding-right: 16px;
  p {
    margin: 0;
  }
}

.open-in-new-window {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}
