<div id="wrapper">


    <a class="open-in-new-window" (click)="popUp()" matTooltip="Open in new window"><mat-icon>open_in_new</mat-icon></a>
    <mat-card appearance="outlined" id="mat-card-wrapper">

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight="true" id="tab-group">

            <mat-tab label="Violations">
                <ng-template mat-tab-label>
                    <mat-icon>error_outline</mat-icon>
                    <span>Violations</span>
                </ng-template>

                <app-violations></app-violations>

            </mat-tab>

            <mat-tab label="Test">
                <ng-template mat-tab-label>
                    <mat-icon>bug_report</mat-icon>
                    <span>Test</span>
                </ng-template>
                <div class="tab-group tab-group-2">
                    <button mat-stroked-button (click)="getEvents()">GET EVENTS</button>
                    <button mat-button (click)="popUp()">popUp</button>
                </div>
            </mat-tab>

            <mat-tab label="About">
                <ng-template mat-tab-label>
                    <mat-icon>info</mat-icon>
                    <span>About</span>
                </ng-template>
                <div class="tab-group tab-group-3">
                    <p>Driver Monitoring Chrome Extension</p>
                    <p>version: 0.0.1</p>
                </div>
            </mat-tab>
        </mat-tab-group>

    </mat-card>



</div>